<a href="https://colab.research.google.com/github/KawshalRam/Pandas/blob/main/2)%20Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
df=pd.read_csv("/content/nyc_weather.csv")

In [7]:
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [8]:
df.head()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [9]:
df['Temperature']

0     38
1     36
2     40
3     25
4     20
5     33
6     39
7     39
8     44
9     50
10    33
11    35
12    26
13    30
14    43
15    47
16    36
17    25
18    22
19    32
20    31
21    26
22    26
23    28
24    34
25    43
26    41
27    37
28    36
29    34
30    46
Name: Temperature, dtype: int64

In [10]:
df.set_index('EST',inplace=True)

# Handling Missing Data

1) fillna

In [11]:
import pandas as pd
df=pd.read_csv("/content/nyc_weather.csv")

In [12]:
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [13]:
type

type

In [15]:
type[df]

type[          EST  Temperature  DewPoint  Humidity  Sea Level PressureIn  \
0    1/1/2016           38        23        52                 30.03
1    1/2/2016           36        18        46                 30.02
2    1/3/2016           40        21        47                 29.86
3    1/4/2016           25         9        44                 30.05
4    1/5/2016           20        -3        41                 30.57
5    1/6/2016           33         4        35                 30.50
6    1/7/2016           39        11        33                 30.28
7    1/8/2016           39        29        64                 30.20
8    1/9/2016           44        38        77                 30.16
9   1/10/2016           50        46        71                 29.59
10  1/11/2016           33         8        37                 29.92
11  1/12/2016           35        15        53                 29.85
12  1/13/2016           26         4        42                 29.94
13  1/14/2016           30        12        47                 29.95
14  1/15/2016           43        31        62                 29.82
15  1/16/2016           47        37        70                 29.52
16  1/17/2016           36        23        66                 29.78
17  1/18/2016           25         6        53                 29.83
18  1/19/2016           22         3        42                 30.03
19  1/20/2016           32        15        49                 30.13
20  1/21/2016           31        11        45                 30.15
21  1/22/2016           26         6        41                 30.21
22  1/23/2016           26        21        78                 29.77
23  1/24/2016           28        11        53                 29.92
24  1/25/2016           34        18        54                 30.25
25  1/26/2016           43        29        56                 30.03
26  1/27/2016           41        22        45                 30.03
27  1/28/2016           37        20        51                 29.90
28  1/29/2016           36        21        50                 29.58
29  1/30/2016           34        16        46                 30.01
30  1/31/2016           46        28        52                 29.90

    VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover    Events  \
0                10           8.0               0           5       NaN
1                10           7.0               0           3       NaN
2                10           8.0               0           1       NaN
3                10           9.0               0           3       NaN
4                10           5.0               0           0       NaN
5                10           4.0               0           0       NaN
6                10           2.0               0           3       NaN
7                10           4.0               0           8       NaN
8                 9           8.0               T           8      Rain
9                 4           NaN             1.8           7      Rain
10               10           NaN               0           1       NaN
11               10           6.0               T           4       NaN
12               10          10.0               0           0       NaN
13               10           5.0               T           7       NaN
14                9           5.0               T           2       NaN
15                8           7.0            0.24           7      Rain
16                8           6.0            0.05           6  Fog-Snow
17                9          12.0               T           2      Snow
18               10          11.0               0           1       NaN
19               10           6.0               0           2       NaN
20               10           6.0               0           1       NaN
21                9           NaN            0.01           3      Snow
22                1          16.0            2.31           8  Fog-Snow
23                8           6.0               T           3      Snow
24               10           3.0               0           2       NaN
25               10           7.0               0           2       NaN
26               10           7.0               T           3      Rain
27               10           5.0               0           1       NaN
28               10           8.0               0           4       NaN
29               10           7.0               0           0       NaN
30               10           5.0               0           0       NaN

    WindDirDegrees
0              281
1              275
2              277
3              345
4              333
5              259
6              293
7               79
8               76
9              109
10             289
11             235
12             284
13             266
14             101
15             340
16             345
17             293
18             293
19             302
20             312
21              34
22              42
23             327
24             286
25             244
26             311
27             234
28             298
29             257
30             241  ]

In [16]:
df=pd.read_csv("/content/nyc_weather.csv",parse_dates=['EST'])

In [17]:
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,2016-01-01,38,23,52,30.03,10,8.0,0,5,NaN,281
1,2016-01-02,36,18,46,30.02,10,7.0,0,3,NaN,275
2,2016-01-03,40,21,47,29.86,10,8.0,0,1,NaN,277
3,2016-01-04,25,9,44,30.05,10,9.0,0,3,NaN,345
4,2016-01-05,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,2016-01-06,33,4,35,30.50,10,4.0,0,0,NaN,259
6,2016-01-07,39,11,33,30.28,10,2.0,0,3,NaN,293
7,2016-01-08,39,29,64,30.20,10,4.0,0,8,NaN,79
8,2016-01-09,44,38,77,30.16,9,8.0,T,8,Rain,76
9,2016-01-10,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,2016-01-11,33,8,37,29.92,10,NaN,0,1,NaN,289
11,2016-01-12,35,15,53,29.85,10,6.0,T,4,NaN,235
12,2016-01-13,26,4,42,29.94,10,10.0,0,0,NaN,284
13,2016-01-14,30,12,47,29.95,10,5.0,T,7,NaN,266
14,2016-01-15,43,31,62,29.82,9,5.0,T,2,NaN,101
15,2016-01-16,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,2016-01-17,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,2016-01-18,25,6,53,29.83,9,12.0,T,2,Snow,293
18,2016-01-19,22,3,42,30.03,10,11.0,0,1,NaN,293
19,2016-01-20,32,15,49,30.13,10,6.0,0,2,NaN,302
20,2016-01-21,31,11,45,30.15,10,6.0,0,1,NaN,312
21,2016-01-22,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,2016-01-23,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,2016-01-24,28,11,53,29.92,8,6.0,T,3,Snow,327
24,2016-01-25,34,18,54,30.25,10,3.0,0,2,NaN,286
25,2016-01-26,43,29,56,30.03,10,7.0,0,2,NaN,244
26,2016-01-27,41,22,45,30.03,10,7.0,T,3,Rain,311
27,2016-01-28,37,20,51,29.90,10,5.0,0,1,NaN,234
28,2016-01-29,36,21,50,29.58,10,8.0,0,4,NaN,298
29,2016-01-30,34,16,46,30.01,10,7.0,0,0,NaN,257
30,2016-01-31,46,28,52,29.90,10,5.0,0,0,NaN,241

In [18]:
df.set_index('EST',inplace=True)

In [19]:
df

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
2016-01-01,38,23,52,30.03,10,8.0,0,5,NaN,281
2016-01-02,36,18,46,30.02,10,7.0,0,3,NaN,275
2016-01-03,40,21,47,29.86,10,8.0,0,1,NaN,277
2016-01-04,25,9,44,30.05,10,9.0,0,3,NaN,345
2016-01-05,20,-3,41,30.57,10,5.0,0,0,NaN,333
2016-01-06,33,4,35,30.50,10,4.0,0,0,NaN,259
2016-01-07,39,11,33,30.28,10,2.0,0,3,NaN,293
2016-01-08,39,29,64,30.20,10,4.0,0,8,NaN,79
2016-01-09,44,38,77,30.16,9,8.0,T,8,Rain,76
2016-01-10,50,46,71,29.59,4,NaN,1.8,7,Rain,109
2016-01-11,33,8,37,29.92,10,NaN,0,1,NaN,289
2016-01-12,35,15,53,29.85,10,6.0,T,4,NaN,235
2016-01-13,26,4,42,29.94,10,10.0,0,0,NaN,284
2016-01-14,30,12,47,29.95,10,5.0,T,7,NaN,266
2016-01-15,43,31,62,29.82,9,5.0,T,2,NaN,101
2016-01-16,47,37,70,29.52,8,7.0,0.24,7,Rain,340
2016-01-17,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
2016-01-18,25,6,53,29.83,9,12.0,T,2,Snow,293
2016-01-19,22,3,42,30.03,10,11.0,0,1,NaN,293
2016-01-20,32,15,49,30.13,10,6.0,0,2,NaN,302
2016-01-21,31,11,45,30.15,10,6.0,0,1,NaN,312
2016-01-22,26,6,41,30.21,9,NaN,0.01,3,Snow,34
2016-01-23,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
2016-01-24,28,11,53,29.92,8,6.0,T,3,Snow,327
2016-01-25,34,18,54,30.25,10,3.0,0,2,NaN,286
2016-01-26,43,29,56,30.03,10,7.0,0,2,NaN,244
2016-01-27,41,22,45,30.03,10,7.0,T,3,Rain,311
2016-01-28,37,20,51,29.90,10,5.0,0,1,NaN,234
2016-01-29,36,21,50,29.58,10,8.0,0,4,NaN,298
2016-01-30,34,16,46,30.01,10,7.0,0,0,NaN,257
2016-01-31,46,28,52,29.90,10,5.0,0,0,NaN,241

In [20]:
neew_df=df.fillna(0)

In [21]:
neew_df

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
2016-01-01,38,23,52,30.03,10,8.0,0,5,0,281
2016-01-02,36,18,46,30.02,10,7.0,0,3,0,275
2016-01-03,40,21,47,29.86,10,8.0,0,1,0,277
2016-01-04,25,9,44,30.05,10,9.0,0,3,0,345
2016-01-05,20,-3,41,30.57,10,5.0,0,0,0,333
2016-01-06,33,4,35,30.50,10,4.0,0,0,0,259
2016-01-07,39,11,33,30.28,10,2.0,0,3,0,293
2016-01-08,39,29,64,30.20,10,4.0,0,8,0,79
2016-01-09,44,38,77,30.16,9,8.0,T,8,Rain,76
2016-01-10,50,46,71,29.59,4,0.0,1.8,7,Rain,109
2016-01-11,33,8,37,29.92,10,0.0,0,1,0,289
2016-01-12,35,15,53,29.85,10,6.0,T,4,0,235
2016-01-13,26,4,42,29.94,10,10.0,0,0,0,284
2016-01-14,30,12,47,29.95,10,5.0,T,7,0,266
2016-01-15,43,31,62,29.82,9,5.0,T,2,0,101
2016-01-16,47,37,70,29.52,8,7.0,0.24,7,Rain,340
2016-01-17,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
2016-01-18,25,6,53,29.83,9,12.0,T,2,Snow,293
2016-01-19,22,3,42,30.03,10,11.0,0,1,0,293
2016-01-20,32,15,49,30.13,10,6.0,0,2,0,302
2016-01-21,31,11,45,30.15,10,6.0,0,1,0,312
2016-01-22,26,6,41,30.21,9,0.0,0.01,3,Snow,34
2016-01-23,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
2016-01-24,28,11,53,29.92,8,6.0,T,3,Snow,327
2016-01-25,34,18,54,30.25,10,3.0,0,2,0,286
2016-01-26,43,29,56,30.03,10,7.0,0,2,0,244
2016-01-27,41,22,45,30.03,10,7.0,T,3,Rain,311
2016-01-28,37,20,51,29.90,10,5.0,0,1,0,234
2016-01-29,36,21,50,29.58,10,8.0,0,4,0,298
2016-01-30,34,16,46,30.01,10,7.0,0,0,0,257
2016-01-31,46,28,52,29.90,10,5.0,0,0,0,241

In [22]:
type[df]

type[            Temperature  DewPoint  Humidity  Sea Level PressureIn  \
EST
2016-01-01           38        23        52                 30.03
2016-01-02           36        18        46                 30.02
2016-01-03           40        21        47                 29.86
2016-01-04           25         9        44                 30.05
2016-01-05           20        -3        41                 30.57
2016-01-06           33         4        35                 30.50
2016-01-07           39        11        33                 30.28
2016-01-08           39        29        64                 30.20
2016-01-09           44        38        77                 30.16
2016-01-10           50        46        71                 29.59
2016-01-11           33         8        37                 29.92
2016-01-12           35        15        53                 29.85
2016-01-13           26         4        42                 29.94
2016-01-14           30        12        47                 29.95
2016-01-15           43        31        62                 29.82
2016-01-16           47        37        70                 29.52
2016-01-17           36        23        66                 29.78
2016-01-18           25         6        53                 29.83
2016-01-19           22         3        42                 30.03
2016-01-20           32        15        49                 30.13
2016-01-21           31        11        45                 30.15
2016-01-22           26         6        41                 30.21
2016-01-23           26        21        78                 29.77
2016-01-24           28        11        53                 29.92
2016-01-25           34        18        54                 30.25
2016-01-26           43        29        56                 30.03
2016-01-27           41        22        45                 30.03
2016-01-28           37        20        51                 29.90
2016-01-29           36        21        50                 29.58
2016-01-30           34        16        46                 30.01
2016-01-31           46        28        52                 29.90

            VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover  \
EST
2016-01-01               10           8.0               0           5
2016-01-02               10           7.0               0           3
2016-01-03               10           8.0               0           1
2016-01-04               10           9.0               0           3
2016-01-05               10           5.0               0           0
2016-01-06               10           4.0               0           0
2016-01-07               10           2.0               0           3
2016-01-08               10           4.0               0           8
2016-01-09                9           8.0               T           8
2016-01-10                4           NaN             1.8           7
2016-01-11               10           NaN               0           1
2016-01-12               10           6.0               T           4
2016-01-13               10          10.0               0           0
2016-01-14               10           5.0               T           7
2016-01-15                9           5.0               T           2
2016-01-16                8           7.0            0.24           7
2016-01-17                8           6.0            0.05           6
2016-01-18                9          12.0               T           2
2016-01-19               10          11.0               0           1
2016-01-20               10           6.0               0           2
2016-01-21               10           6.0               0           1
2016-01-22                9           NaN            0.01           3
2016-01-23                1          16.0            2.31           8
2016-01-24                8           6.0               T           3
2016-01-25               10           3.0               0           2
2016-01-26               10           7.0               0           2
2016-01-27               10           7.0               T           3
2016-01-28               10           5.0               0           1
2016-01-29               10           8.0               0           4
2016-01-30               10           7.0               0           0
2016-01-31               10           5.0               0           0

              Events  WindDirDegrees
EST
2016-01-01       NaN             281
2016-01-02       NaN             275
2016-01-03       NaN             277
2016-01-04       NaN             345
2016-01-05       NaN             333
2016-01-06       NaN             259
2016-01-07       NaN             293
2016-01-08       NaN              79
2016-01-09      Rain              76
2016-01-10      Rain             109
2016-01-11       NaN             289
2016-01-12       NaN             235
2016-01-13       NaN             284
2016-01-14       NaN             266
2016-01-15       NaN             101
2016-01-16      Rain             340
2016-01-17  Fog-Snow             345
2016-01-18      Snow             293
2016-01-19       NaN             293
2016-01-20       NaN             302
2016-01-21       NaN             312
2016-01-22      Snow              34
2016-01-23  Fog-Snow              42
2016-01-24      Snow             327
2016-01-25       NaN             286
2016-01-26       NaN             244
2016-01-27      Rain             311
2016-01-28       NaN             234
2016-01-29       NaN             298
2016-01-30       NaN             257
2016-01-31       NaN             241  ]

In [23]:
df

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
2016-01-01,38,23,52,30.03,10,8.0,0,5,NaN,281
2016-01-02,36,18,46,30.02,10,7.0,0,3,NaN,275
2016-01-03,40,21,47,29.86,10,8.0,0,1,NaN,277
2016-01-04,25,9,44,30.05,10,9.0,0,3,NaN,345
2016-01-05,20,-3,41,30.57,10,5.0,0,0,NaN,333
2016-01-06,33,4,35,30.50,10,4.0,0,0,NaN,259
2016-01-07,39,11,33,30.28,10,2.0,0,3,NaN,293
2016-01-08,39,29,64,30.20,10,4.0,0,8,NaN,79
2016-01-09,44,38,77,30.16,9,8.0,T,8,Rain,76
2016-01-10,50,46,71,29.59,4,NaN,1.8,7,Rain,109
2016-01-11,33,8,37,29.92,10,NaN,0,1,NaN,289
2016-01-12,35,15,53,29.85,10,6.0,T,4,NaN,235
2016-01-13,26,4,42,29.94,10,10.0,0,0,NaN,284
2016-01-14,30,12,47,29.95,10,5.0,T,7,NaN,266
2016-01-15,43,31,62,29.82,9,5.0,T,2,NaN,101
2016-01-16,47,37,70,29.52,8,7.0,0.24,7,Rain,340
2016-01-17,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
2016-01-18,25,6,53,29.83,9,12.0,T,2,Snow,293
2016-01-19,22,3,42,30.03,10,11.0,0,1,NaN,293
2016-01-20,32,15,49,30.13,10,6.0,0,2,NaN,302
2016-01-21,31,11,45,30.15,10,6.0,0,1,NaN,312
2016-01-22,26,6,41,30.21,9,NaN,0.01,3,Snow,34
2016-01-23,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
2016-01-24,28,11,53,29.92,8,6.0,T,3,Snow,327
2016-01-25,34,18,54,30.25,10,3.0,0,2,NaN,286
2016-01-26,43,29,56,30.03,10,7.0,0,2,NaN,244
2016-01-27,41,22,45,30.03,10,7.0,T,3,Rain,311
2016-01-28,37,20,51,29.90,10,5.0,0,1,NaN,234
2016-01-29,36,21,50,29.58,10,8.0,0,4,NaN,298
2016-01-30,34,16,46,30.01,10,7.0,0,0,NaN,257
2016-01-31,46,28,52,29.90,10,5.0,0,0,NaN,241

In [24]:
type[neew_df]

type[            Temperature  DewPoint  Humidity  Sea Level PressureIn  \
EST
2016-01-01           38        23        52                 30.03
2016-01-02           36        18        46                 30.02
2016-01-03           40        21        47                 29.86
2016-01-04           25         9        44                 30.05
2016-01-05           20        -3        41                 30.57
2016-01-06           33         4        35                 30.50
2016-01-07           39        11        33                 30.28
2016-01-08           39        29        64                 30.20
2016-01-09           44        38        77                 30.16
2016-01-10           50        46        71                 29.59
2016-01-11           33         8        37                 29.92
2016-01-12           35        15        53                 29.85
2016-01-13           26         4        42                 29.94
2016-01-14           30        12        47                 29.95
2016-01-15           43        31        62                 29.82
2016-01-16           47        37        70                 29.52
2016-01-17           36        23        66                 29.78
2016-01-18           25         6        53                 29.83
2016-01-19           22         3        42                 30.03
2016-01-20           32        15        49                 30.13
2016-01-21           31        11        45                 30.15
2016-01-22           26         6        41                 30.21
2016-01-23           26        21        78                 29.77
2016-01-24           28        11        53                 29.92
2016-01-25           34        18        54                 30.25
2016-01-26           43        29        56                 30.03
2016-01-27           41        22        45                 30.03
2016-01-28           37        20        51                 29.90
2016-01-29           36        21        50                 29.58
2016-01-30           34        16        46                 30.01
2016-01-31           46        28        52                 29.90

            VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover  \
EST
2016-01-01               10           8.0               0           5
2016-01-02               10           7.0               0           3
2016-01-03               10           8.0               0           1
2016-01-04               10           9.0               0           3
2016-01-05               10           5.0               0           0
2016-01-06               10           4.0               0           0
2016-01-07               10           2.0               0           3
2016-01-08               10           4.0               0           8
2016-01-09                9           8.0               T           8
2016-01-10                4           0.0             1.8           7
2016-01-11               10           0.0               0           1
2016-01-12               10           6.0               T           4
2016-01-13               10          10.0               0           0
2016-01-14               10           5.0               T           7
2016-01-15                9           5.0               T           2
2016-01-16                8           7.0            0.24           7
2016-01-17                8           6.0            0.05           6
2016-01-18                9          12.0               T           2
2016-01-19               10          11.0               0           1
2016-01-20               10           6.0               0           2
2016-01-21               10           6.0               0           1
2016-01-22                9           0.0            0.01           3
2016-01-23                1          16.0            2.31           8
2016-01-24                8           6.0               T           3
2016-01-25               10           3.0               0           2
2016-01-26               10           7.0               0           2
2016-01-27               10           7.0               T           3
2016-01-28               10           5.0               0           1
2016-01-29               10           8.0               0           4
2016-01-30               10           7.0               0           0
2016-01-31               10           5.0               0           0

              Events  WindDirDegrees
EST
2016-01-01         0             281
2016-01-02         0             275
2016-01-03         0             277
2016-01-04         0             345
2016-01-05         0             333
2016-01-06         0             259
2016-01-07         0             293
2016-01-08         0              79
2016-01-09      Rain              76
2016-01-10      Rain             109
2016-01-11         0             289
2016-01-12         0             235
2016-01-13         0             284
2016-01-14         0             266
2016-01-15         0             101
2016-01-16      Rain             340
2016-01-17  Fog-Snow             345
2016-01-18      Snow             293
2016-01-19         0             293
2016-01-20         0             302
2016-01-21         0             312
2016-01-22      Snow              34
2016-01-23  Fog-Snow              42
2016-01-24      Snow             327
2016-01-25         0             286
2016-01-26         0             244
2016-01-27      Rain             311
2016-01-28         0             234
2016-01-29         0             298
2016-01-30         0             257
2016-01-31         0             241  ]

In [26]:
neew_df=df.fillna({
    'Temperature':0,
    'Events':'no event',
    'WindSpeedMPH':0,
    'DewPoint':0
})

In [27]:
neew_df

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
2016-01-01,38,23,52,30.03,10,8.0,0,5,no event,281
2016-01-02,36,18,46,30.02,10,7.0,0,3,no event,275
2016-01-03,40,21,47,29.86,10,8.0,0,1,no event,277
2016-01-04,25,9,44,30.05,10,9.0,0,3,no event,345
2016-01-05,20,-3,41,30.57,10,5.0,0,0,no event,333
2016-01-06,33,4,35,30.50,10,4.0,0,0,no event,259
2016-01-07,39,11,33,30.28,10,2.0,0,3,no event,293
2016-01-08,39,29,64,30.20,10,4.0,0,8,no event,79
2016-01-09,44,38,77,30.16,9,8.0,T,8,Rain,76
2016-01-10,50,46,71,29.59,4,0.0,1.8,7,Rain,109
2016-01-11,33,8,37,29.92,10,0.0,0,1,no event,289
2016-01-12,35,15,53,29.85,10,6.0,T,4,no event,235
2016-01-13,26,4,42,29.94,10,10.0,0,0,no event,284
2016-01-14,30,12,47,29.95,10,5.0,T,7,no event,266
2016-01-15,43,31,62,29.82,9,5.0,T,2,no event,101
2016-01-16,47,37,70,29.52,8,7.0,0.24,7,Rain,340
2016-01-17,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
2016-01-18,25,6,53,29.83,9,12.0,T,2,Snow,293
2016-01-19,22,3,42,30.03,10,11.0,0,1,no event,293
2016-01-20,32,15,49,30.13,10,6.0,0,2,no event,302
2016-01-21,31,11,45,30.15,10,6.0,0,1,no event,312
2016-01-22,26,6,41,30.21,9,0.0,0.01,3,Snow,34
2016-01-23,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
2016-01-24,28,11,53,29.92,8,6.0,T,3,Snow,327
2016-01-25,34,18,54,30.25,10,3.0,0,2,no event,286
2016-01-26,43,29,56,30.03,10,7.0,0,2,no event,244
2016-01-27,41,22,45,30.03,10,7.0,T,3,Rain,311
2016-01-28,37,20,51,29.90,10,5.0,0,1,no event,234
2016-01-29,36,21,50,29.58,10,8.0,0,4,no event,298
2016-01-30,34,16,46,30.01,10,7.0,0,0,no event,257
2016-01-31,46,28,52,29.90,10,5.0,0,0,no event,241

In [28]:
type[neew_df]

type[            Temperature  DewPoint  Humidity  Sea Level PressureIn  \
EST
2016-01-01           38        23        52                 30.03
2016-01-02           36        18        46                 30.02
2016-01-03           40        21        47                 29.86
2016-01-04           25         9        44                 30.05
2016-01-05           20        -3        41                 30.57
2016-01-06           33         4        35                 30.50
2016-01-07           39        11        33                 30.28
2016-01-08           39        29        64                 30.20
2016-01-09           44        38        77                 30.16
2016-01-10           50        46        71                 29.59
2016-01-11           33         8        37                 29.92
2016-01-12           35        15        53                 29.85
2016-01-13           26         4        42                 29.94
2016-01-14           30        12        47                 29.95
2016-01-15           43        31        62                 29.82
2016-01-16           47        37        70                 29.52
2016-01-17           36        23        66                 29.78
2016-01-18           25         6        53                 29.83
2016-01-19           22         3        42                 30.03
2016-01-20           32        15        49                 30.13
2016-01-21           31        11        45                 30.15
2016-01-22           26         6        41                 30.21
2016-01-23           26        21        78                 29.77
2016-01-24           28        11        53                 29.92
2016-01-25           34        18        54                 30.25
2016-01-26           43        29        56                 30.03
2016-01-27           41        22        45                 30.03
2016-01-28           37        20        51                 29.90
2016-01-29           36        21        50                 29.58
2016-01-30           34        16        46                 30.01
2016-01-31           46        28        52                 29.90

            VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover  \
EST
2016-01-01               10           8.0               0           5
2016-01-02               10           7.0               0           3
2016-01-03               10           8.0               0           1
2016-01-04               10           9.0               0           3
2016-01-05               10           5.0               0           0
2016-01-06               10           4.0               0           0
2016-01-07               10           2.0               0           3
2016-01-08               10           4.0               0           8
2016-01-09                9           8.0               T           8
2016-01-10                4           0.0             1.8           7
2016-01-11               10           0.0               0           1
2016-01-12               10           6.0               T           4
2016-01-13               10          10.0               0           0
2016-01-14               10           5.0               T           7
2016-01-15                9           5.0               T           2
2016-01-16                8           7.0            0.24           7
2016-01-17                8           6.0            0.05           6
2016-01-18                9          12.0               T           2
2016-01-19               10          11.0               0           1
2016-01-20               10           6.0               0           2
2016-01-21               10           6.0               0           1
2016-01-22                9           0.0            0.01           3
2016-01-23                1          16.0            2.31           8
2016-01-24                8           6.0               T           3
2016-01-25               10           3.0               0           2
2016-01-26               10           7.0               0           2
2016-01-27               10           7.0               T           3
2016-01-28               10           5.0               0           1
2016-01-29               10           8.0               0           4
2016-01-30               10           7.0               0           0
2016-01-31               10           5.0               0           0

              Events  WindDirDegrees
EST
2016-01-01  no event             281
2016-01-02  no event             275
2016-01-03  no event             277
2016-01-04  no event             345
2016-01-05  no event             333
2016-01-06  no event             259
2016-01-07  no event             293
2016-01-08  no event              79
2016-01-09      Rain              76
2016-01-10      Rain             109
2016-01-11  no event             289
2016-01-12  no event             235
2016-01-13  no event             284
2016-01-14  no event             266
2016-01-15  no event             101
2016-01-16      Rain             340
2016-01-17  Fog-Snow             345
2016-01-18      Snow             293
2016-01-19  no event             293
2016-01-20  no event             302
2016-01-21  no event             312
2016-01-22      Snow              34
2016-01-23  Fog-Snow              42
2016-01-24      Snow             327
2016-01-25  no event             286
2016-01-26  no event             244
2016-01-27      Rain             311
2016-01-28  no event             234
2016-01-29  no event             298
2016-01-30  no event             257
2016-01-31  no event             241  ]

In [32]:
neew_df=df.fillna(method='ffill')

<ipython-input-32-2924319510>:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  neew_df=df.fillna(method='ffill')

In [33]:
neew_df

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
2016-01-01,38,23,52,30.03,10,8.0,0,5,NaN,281
2016-01-02,36,18,46,30.02,10,7.0,0,3,NaN,275
2016-01-03,40,21,47,29.86,10,8.0,0,1,NaN,277
2016-01-04,25,9,44,30.05,10,9.0,0,3,NaN,345
2016-01-05,20,-3,41,30.57,10,5.0,0,0,NaN,333
2016-01-06,33,4,35,30.50,10,4.0,0,0,NaN,259
2016-01-07,39,11,33,30.28,10,2.0,0,3,NaN,293
2016-01-08,39,29,64,30.20,10,4.0,0,8,NaN,79
2016-01-09,44,38,77,30.16,9,8.0,T,8,Rain,76
2016-01-10,50,46,71,29.59,4,8.0,1.8,7,Rain,109
2016-01-11,33,8,37,29.92,10,8.0,0,1,Rain,289
2016-01-12,35,15,53,29.85,10,6.0,T,4,Rain,235
2016-01-13,26,4,42,29.94,10,10.0,0,0,Rain,284
2016-01-14,30,12,47,29.95,10,5.0,T,7,Rain,266
2016-01-15,43,31,62,29.82,9,5.0,T,2,Rain,101
2016-01-16,47,37,70,29.52,8,7.0,0.24,7,Rain,340
2016-01-17,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
2016-01-18,25,6,53,29.83,9,12.0,T,2,Snow,293
2016-01-19,22,3,42,30.03,10,11.0,0,1,Snow,293
2016-01-20,32,15,49,30.13,10,6.0,0,2,Snow,302
2016-01-21,31,11,45,30.15,10,6.0,0,1,Snow,312
2016-01-22,26,6,41,30.21,9,6.0,0.01,3,Snow,34
2016-01-23,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
2016-01-24,28,11,53,29.92,8,6.0,T,3,Snow,327
2016-01-25,34,18,54,30.25,10,3.0,0,2,Snow,286
2016-01-26,43,29,56,30.03,10,7.0,0,2,Snow,244
2016-01-27,41,22,45,30.03,10,7.0,T,3,Rain,311
2016-01-28,37,20,51,29.90,10,5.0,0,1,Rain,234
2016-01-29,36,21,50,29.58,10,8.0,0,4,Rain,298
2016-01-30,34,16,46,30.01,10,7.0,0,0,Rain,257
2016-01-31,46,28,52,29.90,10,5.0,0,0,Rain,241

In [34]:
type[neew_df]

type[            Temperature  DewPoint  Humidity  Sea Level PressureIn  \
EST
2016-01-01           38        23        52                 30.03
2016-01-02           36        18        46                 30.02
2016-01-03           40        21        47                 29.86
2016-01-04           25         9        44                 30.05
2016-01-05           20        -3        41                 30.57
2016-01-06           33         4        35                 30.50
2016-01-07           39        11        33                 30.28
2016-01-08           39        29        64                 30.20
2016-01-09           44        38        77                 30.16
2016-01-10           50        46        71                 29.59
2016-01-11           33         8        37                 29.92
2016-01-12           35        15        53                 29.85
2016-01-13           26         4        42                 29.94
2016-01-14           30        12        47                 29.95
2016-01-15           43        31        62                 29.82
2016-01-16           47        37        70                 29.52
2016-01-17           36        23        66                 29.78
2016-01-18           25         6        53                 29.83
2016-01-19           22         3        42                 30.03
2016-01-20           32        15        49                 30.13
2016-01-21           31        11        45                 30.15
2016-01-22           26         6        41                 30.21
2016-01-23           26        21        78                 29.77
2016-01-24           28        11        53                 29.92
2016-01-25           34        18        54                 30.25
2016-01-26           43        29        56                 30.03
2016-01-27           41        22        45                 30.03
2016-01-28           37        20        51                 29.90
2016-01-29           36        21        50                 29.58
2016-01-30           34        16        46                 30.01
2016-01-31           46        28        52                 29.90

            VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover  \
EST
2016-01-01               10           8.0               0           5
2016-01-02               10           7.0               0           3
2016-01-03               10           8.0               0           1
2016-01-04               10           9.0               0           3
2016-01-05               10           5.0               0           0
2016-01-06               10           4.0               0           0
2016-01-07               10           2.0               0           3
2016-01-08               10           4.0               0           8
2016-01-09                9           8.0               T           8
2016-01-10                4           8.0             1.8           7
2016-01-11               10           8.0               0           1
2016-01-12               10           6.0               T           4
2016-01-13               10          10.0               0           0
2016-01-14               10           5.0               T           7
2016-01-15                9           5.0               T           2
2016-01-16                8           7.0            0.24           7
2016-01-17                8           6.0            0.05           6
2016-01-18                9          12.0               T           2
2016-01-19               10          11.0               0           1
2016-01-20               10           6.0               0           2
2016-01-21               10           6.0               0           1
2016-01-22                9           6.0            0.01           3
2016-01-23                1          16.0            2.31           8
2016-01-24                8           6.0               T           3
2016-01-25               10           3.0               0           2
2016-01-26               10           7.0               0           2
2016-01-27               10           7.0               T           3
2016-01-28               10           5.0               0           1
2016-01-29               10           8.0               0           4
2016-01-30               10           7.0               0           0
2016-01-31               10           5.0               0           0

              Events  WindDirDegrees
EST
2016-01-01       NaN             281
2016-01-02       NaN             275
2016-01-03       NaN             277
2016-01-04       NaN             345
2016-01-05       NaN             333
2016-01-06       NaN             259
2016-01-07       NaN             293
2016-01-08       NaN              79
2016-01-09      Rain              76
2016-01-10      Rain             109
2016-01-11      Rain             289
2016-01-12      Rain             235
2016-01-13      Rain             284
2016-01-14      Rain             266
2016-01-15      Rain             101
2016-01-16      Rain             340
2016-01-17  Fog-Snow             345
2016-01-18      Snow             293
2016-01-19      Snow             293
2016-01-20      Snow             302
2016-01-21      Snow             312
2016-01-22      Snow              34
2016-01-23  Fog-Snow              42
2016-01-24      Snow             327
2016-01-25      Snow             286
2016-01-26      Snow             244
2016-01-27      Rain             311
2016-01-28      Rain             234
2016-01-29      Rain             298
2016-01-30      Rain             257
2016-01-31      Rain             241  ]

In [36]:
neew_df=df.fillna(method='bfill')

<ipython-input-36-1857273875>:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  neew_df=df.fillna(method='bfill')

In [37]:
type[neew_df]

type[            Temperature  DewPoint  Humidity  Sea Level PressureIn  \
EST
2016-01-01           38        23        52                 30.03
2016-01-02           36        18        46                 30.02
2016-01-03           40        21        47                 29.86
2016-01-04           25         9        44                 30.05
2016-01-05           20        -3        41                 30.57
2016-01-06           33         4        35                 30.50
2016-01-07           39        11        33                 30.28
2016-01-08           39        29        64                 30.20
2016-01-09           44        38        77                 30.16
2016-01-10           50        46        71                 29.59
2016-01-11           33         8        37                 29.92
2016-01-12           35        15        53                 29.85
2016-01-13           26         4        42                 29.94
2016-01-14           30        12        47                 29.95
2016-01-15           43        31        62                 29.82
2016-01-16           47        37        70                 29.52
2016-01-17           36        23        66                 29.78
2016-01-18           25         6        53                 29.83
2016-01-19           22         3        42                 30.03
2016-01-20           32        15        49                 30.13
2016-01-21           31        11        45                 30.15
2016-01-22           26         6        41                 30.21
2016-01-23           26        21        78                 29.77
2016-01-24           28        11        53                 29.92
2016-01-25           34        18        54                 30.25
2016-01-26           43        29        56                 30.03
2016-01-27           41        22        45                 30.03
2016-01-28           37        20        51                 29.90
2016-01-29           36        21        50                 29.58
2016-01-30           34        16        46                 30.01
2016-01-31           46        28        52                 29.90

            VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover  \
EST
2016-01-01               10           8.0               0           5
2016-01-02               10           7.0               0           3
2016-01-03               10           8.0               0           1
2016-01-04               10           9.0               0           3
2016-01-05               10           5.0               0           0
2016-01-06               10           4.0               0           0
2016-01-07               10           2.0               0           3
2016-01-08               10           4.0               0           8
2016-01-09                9           8.0               T           8
2016-01-10                4           6.0             1.8           7
2016-01-11               10           6.0               0           1
2016-01-12               10           6.0               T           4
2016-01-13               10          10.0               0           0
2016-01-14               10           5.0               T           7
2016-01-15                9           5.0               T           2
2016-01-16                8           7.0            0.24           7
2016-01-17                8           6.0            0.05           6
2016-01-18                9          12.0               T           2
2016-01-19               10          11.0               0           1
2016-01-20               10           6.0               0           2
2016-01-21               10           6.0               0           1
2016-01-22                9          16.0            0.01           3
2016-01-23                1          16.0            2.31           8
2016-01-24                8           6.0               T           3
2016-01-25               10           3.0               0           2
2016-01-26               10           7.0               0           2
2016-01-27               10           7.0               T           3
2016-01-28               10           5.0               0           1
2016-01-29               10           8.0               0           4
2016-01-30               10           7.0               0           0
2016-01-31               10           5.0               0           0

              Events  WindDirDegrees
EST
2016-01-01      Rain             281
2016-01-02      Rain             275
2016-01-03      Rain             277
2016-01-04      Rain             345
2016-01-05      Rain             333
2016-01-06      Rain             259
2016-01-07      Rain             293
2016-01-08      Rain              79
2016-01-09      Rain              76
2016-01-10      Rain             109
2016-01-11      Rain             289
2016-01-12      Rain             235
2016-01-13      Rain             284
2016-01-14      Rain             266
2016-01-15      Rain             101
2016-01-16      Rain             340
2016-01-17  Fog-Snow             345
2016-01-18      Snow             293
2016-01-19      Snow             293
2016-01-20      Snow             302
2016-01-21      Snow             312
2016-01-22      Snow              34
2016-01-23  Fog-Snow              42
2016-01-24      Snow             327
2016-01-25      Rain             286
2016-01-26      Rain             244
2016-01-27      Rain             311
2016-01-28       NaN             234
2016-01-29       NaN             298
2016-01-30       NaN             257
2016-01-31       NaN             241  ]

In [38]:
f_df=neew_df.fillna(method='ffill')

<ipython-input-38-1783564510>:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  f_df=neew_df.fillna(method='ffill')

In [39]:
f_df

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
2016-01-01,38,23,52,30.03,10,8.0,0,5,Rain,281
2016-01-02,36,18,46,30.02,10,7.0,0,3,Rain,275
2016-01-03,40,21,47,29.86,10,8.0,0,1,Rain,277
2016-01-04,25,9,44,30.05,10,9.0,0,3,Rain,345
2016-01-05,20,-3,41,30.57,10,5.0,0,0,Rain,333
2016-01-06,33,4,35,30.50,10,4.0,0,0,Rain,259
2016-01-07,39,11,33,30.28,10,2.0,0,3,Rain,293
2016-01-08,39,29,64,30.20,10,4.0,0,8,Rain,79
2016-01-09,44,38,77,30.16,9,8.0,T,8,Rain,76
2016-01-10,50,46,71,29.59,4,6.0,1.8,7,Rain,109
2016-01-11,33,8,37,29.92,10,6.0,0,1,Rain,289
2016-01-12,35,15,53,29.85,10,6.0,T,4,Rain,235
2016-01-13,26,4,42,29.94,10,10.0,0,0,Rain,284
2016-01-14,30,12,47,29.95,10,5.0,T,7,Rain,266
2016-01-15,43,31,62,29.82,9,5.0,T,2,Rain,101
2016-01-16,47,37,70,29.52,8,7.0,0.24,7,Rain,340
2016-01-17,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
2016-01-18,25,6,53,29.83,9,12.0,T,2,Snow,293
2016-01-19,22,3,42,30.03,10,11.0,0,1,Snow,293
2016-01-20,32,15,49,30.13,10,6.0,0,2,Snow,302
2016-01-21,31,11,45,30.15,10,6.0,0,1,Snow,312
2016-01-22,26,6,41,30.21,9,16.0,0.01,3,Snow,34
2016-01-23,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
2016-01-24,28,11,53,29.92,8,6.0,T,3,Snow,327
2016-01-25,34,18,54,30.25,10,3.0,0,2,Rain,286
2016-01-26,43,29,56,30.03,10,7.0,0,2,Rain,244
2016-01-27,41,22,45,30.03,10,7.0,T,3,Rain,311
2016-01-28,37,20,51,29.90,10,5.0,0,1,Rain,234
2016-01-29,36,21,50,29.58,10,8.0,0,4,Rain,298
2016-01-30,34,16,46,30.01,10,7.0,0,0,Rain,257
2016-01-31,46,28,52,29.90,10,5.0,0,0,Rain,241

In [41]:
type[f_df]

type[            Temperature  DewPoint  Humidity  Sea Level PressureIn  \
EST
2016-01-01           38        23        52                 30.03
2016-01-02           36        18        46                 30.02
2016-01-03           40        21        47                 29.86
2016-01-04           25         9        44                 30.05
2016-01-05           20        -3        41                 30.57
2016-01-06           33         4        35                 30.50
2016-01-07           39        11        33                 30.28
2016-01-08           39        29        64                 30.20
2016-01-09           44        38        77                 30.16
2016-01-10           50        46        71                 29.59
2016-01-11           33         8        37                 29.92
2016-01-12           35        15        53                 29.85
2016-01-13           26         4        42                 29.94
2016-01-14           30        12        47                 29.95
2016-01-15           43        31        62                 29.82
2016-01-16           47        37        70                 29.52
2016-01-17           36        23        66                 29.78
2016-01-18           25         6        53                 29.83
2016-01-19           22         3        42                 30.03
2016-01-20           32        15        49                 30.13
2016-01-21           31        11        45                 30.15
2016-01-22           26         6        41                 30.21
2016-01-23           26        21        78                 29.77
2016-01-24           28        11        53                 29.92
2016-01-25           34        18        54                 30.25
2016-01-26           43        29        56                 30.03
2016-01-27           41        22        45                 30.03
2016-01-28           37        20        51                 29.90
2016-01-29           36        21        50                 29.58
2016-01-30           34        16        46                 30.01
2016-01-31           46        28        52                 29.90

            VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover  \
EST
2016-01-01               10           8.0               0           5
2016-01-02               10           7.0               0           3
2016-01-03               10           8.0               0           1
2016-01-04               10           9.0               0           3
2016-01-05               10           5.0               0           0
2016-01-06               10           4.0               0           0
2016-01-07               10           2.0               0           3
2016-01-08               10           4.0               0           8
2016-01-09                9           8.0               T           8
2016-01-10                4           6.0             1.8           7
2016-01-11               10           6.0               0           1
2016-01-12               10           6.0               T           4
2016-01-13               10          10.0               0           0
2016-01-14               10           5.0               T           7
2016-01-15                9           5.0               T           2
2016-01-16                8           7.0            0.24           7
2016-01-17                8           6.0            0.05           6
2016-01-18                9          12.0               T           2
2016-01-19               10          11.0               0           1
2016-01-20               10           6.0               0           2
2016-01-21               10           6.0               0           1
2016-01-22                9          16.0            0.01           3
2016-01-23                1          16.0            2.31           8
2016-01-24                8           6.0               T           3
2016-01-25               10           3.0               0           2
2016-01-26               10           7.0               0           2
2016-01-27               10           7.0               T           3
2016-01-28               10           5.0               0           1
2016-01-29               10           8.0               0           4
2016-01-30               10           7.0               0           0
2016-01-31               10           5.0               0           0

              Events  WindDirDegrees
EST
2016-01-01      Rain             281
2016-01-02      Rain             275
2016-01-03      Rain             277
2016-01-04      Rain             345
2016-01-05      Rain             333
2016-01-06      Rain             259
2016-01-07      Rain             293
2016-01-08      Rain              79
2016-01-09      Rain              76
2016-01-10      Rain             109
2016-01-11      Rain             289
2016-01-12      Rain             235
2016-01-13      Rain             284
2016-01-14      Rain             266
2016-01-15      Rain             101
2016-01-16      Rain             340
2016-01-17  Fog-Snow             345
2016-01-18      Snow             293
2016-01-19      Snow             293
2016-01-20      Snow             302
2016-01-21      Snow             312
2016-01-22      Snow              34
2016-01-23  Fog-Snow              42
2016-01-24      Snow             327
2016-01-25      Rain             286
2016-01-26      Rain             244
2016-01-27      Rain             311
2016-01-28      Rain             234
2016-01-29      Rain             298
2016-01-30      Rain             257
2016-01-31      Rain             241  ]

In [42]:
pad_df=df.fillna(method='pad')

<ipython-input-42-1114527901>:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  pad_df=df.fillna(method='pad')

In [43]:
type[pad_df]

type[            Temperature  DewPoint  Humidity  Sea Level PressureIn  \
EST
2016-01-01           38        23        52                 30.03
2016-01-02           36        18        46                 30.02
2016-01-03           40        21        47                 29.86
2016-01-04           25         9        44                 30.05
2016-01-05           20        -3        41                 30.57
2016-01-06           33         4        35                 30.50
2016-01-07           39        11        33                 30.28
2016-01-08           39        29        64                 30.20
2016-01-09           44        38        77                 30.16
2016-01-10           50        46        71                 29.59
2016-01-11           33         8        37                 29.92
2016-01-12           35        15        53                 29.85
2016-01-13           26         4        42                 29.94
2016-01-14           30        12        47                 29.95
2016-01-15           43        31        62                 29.82
2016-01-16           47        37        70                 29.52
2016-01-17           36        23        66                 29.78
2016-01-18           25         6        53                 29.83
2016-01-19           22         3        42                 30.03
2016-01-20           32        15        49                 30.13
2016-01-21           31        11        45                 30.15
2016-01-22           26         6        41                 30.21
2016-01-23           26        21        78                 29.77
2016-01-24           28        11        53                 29.92
2016-01-25           34        18        54                 30.25
2016-01-26           43        29        56                 30.03
2016-01-27           41        22        45                 30.03
2016-01-28           37        20        51                 29.90
2016-01-29           36        21        50                 29.58
2016-01-30           34        16        46                 30.01
2016-01-31           46        28        52                 29.90

            VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover  \
EST
2016-01-01               10           8.0               0           5
2016-01-02               10           7.0               0           3
2016-01-03               10           8.0               0           1
2016-01-04               10           9.0               0           3
2016-01-05               10           5.0               0           0
2016-01-06               10           4.0               0           0
2016-01-07               10           2.0               0           3
2016-01-08               10           4.0               0           8
2016-01-09                9           8.0               T           8
2016-01-10                4           8.0             1.8           7
2016-01-11               10           8.0               0           1
2016-01-12               10           6.0               T           4
2016-01-13               10          10.0               0           0
2016-01-14               10           5.0               T           7
2016-01-15                9           5.0               T           2
2016-01-16                8           7.0            0.24           7
2016-01-17                8           6.0            0.05           6
2016-01-18                9          12.0               T           2
2016-01-19               10          11.0               0           1
2016-01-20               10           6.0               0           2
2016-01-21               10           6.0               0           1
2016-01-22                9           6.0            0.01           3
2016-01-23                1          16.0            2.31           8
2016-01-24                8           6.0               T           3
2016-01-25               10           3.0               0           2
2016-01-26               10           7.0               0           2
2016-01-27               10           7.0               T           3
2016-01-28               10           5.0               0           1
2016-01-29               10           8.0               0           4
2016-01-30               10           7.0               0           0
2016-01-31               10           5.0               0           0

              Events  WindDirDegrees
EST
2016-01-01       NaN             281
2016-01-02       NaN             275
2016-01-03       NaN             277
2016-01-04       NaN             345
2016-01-05       NaN             333
2016-01-06       NaN             259
2016-01-07       NaN             293
2016-01-08       NaN              79
2016-01-09      Rain              76
2016-01-10      Rain             109
2016-01-11      Rain             289
2016-01-12      Rain             235
2016-01-13      Rain             284
2016-01-14      Rain             266
2016-01-15      Rain             101
2016-01-16      Rain             340
2016-01-17  Fog-Snow             345
2016-01-18      Snow             293
2016-01-19      Snow             293
2016-01-20      Snow             302
2016-01-21      Snow             312
2016-01-22      Snow              34
2016-01-23  Fog-Snow              42
2016-01-24      Snow             327
2016-01-25      Snow             286
2016-01-26      Snow             244
2016-01-27      Rain             311
2016-01-28      Rain             234
2016-01-29      Rain             298
2016-01-30      Rain             257
2016-01-31      Rain             241  ]

In [44]:
type[df]

type[            Temperature  DewPoint  Humidity  Sea Level PressureIn  \
EST
2016-01-01           38        23        52                 30.03
2016-01-02           36        18        46                 30.02
2016-01-03           40        21        47                 29.86
2016-01-04           25         9        44                 30.05
2016-01-05           20        -3        41                 30.57
2016-01-06           33         4        35                 30.50
2016-01-07           39        11        33                 30.28
2016-01-08           39        29        64                 30.20
2016-01-09           44        38        77                 30.16
2016-01-10           50        46        71                 29.59
2016-01-11           33         8        37                 29.92
2016-01-12           35        15        53                 29.85
2016-01-13           26         4        42                 29.94
2016-01-14           30        12        47                 29.95
2016-01-15           43        31        62                 29.82
2016-01-16           47        37        70                 29.52
2016-01-17           36        23        66                 29.78
2016-01-18           25         6        53                 29.83
2016-01-19           22         3        42                 30.03
2016-01-20           32        15        49                 30.13
2016-01-21           31        11        45                 30.15
2016-01-22           26         6        41                 30.21
2016-01-23           26        21        78                 29.77
2016-01-24           28        11        53                 29.92
2016-01-25           34        18        54                 30.25
2016-01-26           43        29        56                 30.03
2016-01-27           41        22        45                 30.03
2016-01-28           37        20        51                 29.90
2016-01-29           36        21        50                 29.58
2016-01-30           34        16        46                 30.01
2016-01-31           46        28        52                 29.90

            VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover  \
EST
2016-01-01               10           8.0               0           5
2016-01-02               10           7.0               0           3
2016-01-03               10           8.0               0           1
2016-01-04               10           9.0               0           3
2016-01-05               10           5.0               0           0
2016-01-06               10           4.0               0           0
2016-01-07               10           2.0               0           3
2016-01-08               10           4.0               0           8
2016-01-09                9           8.0               T           8
2016-01-10                4           NaN             1.8           7
2016-01-11               10           NaN               0           1
2016-01-12               10           6.0               T           4
2016-01-13               10          10.0               0           0
2016-01-14               10           5.0               T           7
2016-01-15                9           5.0               T           2
2016-01-16                8           7.0            0.24           7
2016-01-17                8           6.0            0.05           6
2016-01-18                9          12.0               T           2
2016-01-19               10          11.0               0           1
2016-01-20               10           6.0               0           2
2016-01-21               10           6.0               0           1
2016-01-22                9           NaN            0.01           3
2016-01-23                1          16.0            2.31           8
2016-01-24                8           6.0               T           3
2016-01-25               10           3.0               0           2
2016-01-26               10           7.0               0           2
2016-01-27               10           7.0               T           3
2016-01-28               10           5.0               0           1
2016-01-29               10           8.0               0           4
2016-01-30               10           7.0               0           0
2016-01-31               10           5.0               0           0

              Events  WindDirDegrees
EST
2016-01-01       NaN             281
2016-01-02       NaN             275
2016-01-03       NaN             277
2016-01-04       NaN             345
2016-01-05       NaN             333
2016-01-06       NaN             259
2016-01-07       NaN             293
2016-01-08       NaN              79
2016-01-09      Rain              76
2016-01-10      Rain             109
2016-01-11       NaN             289
2016-01-12       NaN             235
2016-01-13       NaN             284
2016-01-14       NaN             266
2016-01-15       NaN             101
2016-01-16      Rain             340
2016-01-17  Fog-Snow             345
2016-01-18      Snow             293
2016-01-19       NaN             293
2016-01-20       NaN             302
2016-01-21       NaN             312
2016-01-22      Snow              34
2016-01-23  Fog-Snow              42
2016-01-24      Snow             327
2016-01-25       NaN             286
2016-01-26       NaN             244
2016-01-27      Rain             311
2016-01-28       NaN             234
2016-01-29       NaN             298
2016-01-30       NaN             257
2016-01-31       NaN             241  ]

In [45]:
neew_df=df.fillna(method='ffill',axis='columns')

<ipython-input-45-1305171121>:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  neew_df=df.fillna(method='ffill',axis='columns')

In [46]:
type[neew_df]

type[           Temperature DewPoint Humidity Sea Level PressureIn VisibilityMiles  \
EST
2016-01-01          38       23       52                30.03              10
2016-01-02          36       18       46                30.02              10
2016-01-03          40       21       47                29.86              10
2016-01-04          25        9       44                30.05              10
2016-01-05          20       -3       41                30.57              10
2016-01-06          33        4       35                 30.5              10
2016-01-07          39       11       33                30.28              10
2016-01-08          39       29       64                 30.2              10
2016-01-09          44       38       77                30.16               9
2016-01-10          50       46       71                29.59               4
2016-01-11          33        8       37                29.92              10
2016-01-12          35       15       53                29.85              10
2016-01-13          26        4       42                29.94              10
2016-01-14          30       12       47                29.95              10
2016-01-15          43       31       62                29.82               9
2016-01-16          47       37       70                29.52               8
2016-01-17          36       23       66                29.78               8
2016-01-18          25        6       53                29.83               9
2016-01-19          22        3       42                30.03              10
2016-01-20          32       15       49                30.13              10
2016-01-21          31       11       45                30.15              10
2016-01-22          26        6       41                30.21               9
2016-01-23          26       21       78                29.77               1
2016-01-24          28       11       53                29.92               8
2016-01-25          34       18       54                30.25              10
2016-01-26          43       29       56                30.03              10
2016-01-27          41       22       45                30.03              10
2016-01-28          37       20       51                 29.9              10
2016-01-29          36       21       50                29.58              10
2016-01-30          34       16       46                30.01              10
2016-01-31          46       28       52                 29.9              10

           WindSpeedMPH PrecipitationIn CloudCover    Events WindDirDegrees
EST
2016-01-01          8.0               0          5         5            281
2016-01-02          7.0               0          3         3            275
2016-01-03          8.0               0          1         1            277
2016-01-04          9.0               0          3         3            345
2016-01-05          5.0               0          0         0            333
2016-01-06          4.0               0          0         0            259
2016-01-07          2.0               0          3         3            293
2016-01-08          4.0               0          8         8             79
2016-01-09          8.0               T          8      Rain             76
2016-01-10            4             1.8          7      Rain            109
2016-01-11           10               0          1         1            289
2016-01-12          6.0               T          4         4            235
2016-01-13         10.0               0          0         0            284
2016-01-14          5.0               T          7         7            266
2016-01-15          5.0               T          2         2            101
2016-01-16          7.0            0.24          7      Rain            340
2016-01-17          6.0            0.05          6  Fog-Snow            345
2016-01-18         12.0               T          2      Snow            293
2016-01-19         11.0               0          1         1            293
2016-01-20          6.0               0          2         2            302
2016-01-21          6.0               0          1         1            312
2016-01-22            9            0.01          3      Snow             34
2016-01-23         16.0            2.31          8  Fog-Snow             42
2016-01-24          6.0               T          3      Snow            327
2016-01-25          3.0               0          2         2            286
2016-01-26          7.0               0          2         2            244
2016-01-27          7.0               T          3      Rain            311
2016-01-28          5.0               0          1         1            234
2016-01-29          8.0               0          4         4            298
2016-01-30          7.0               0          0         0            257
2016-01-31          5.0               0          0         0            241  ]

In [47]:
neew_df=df.fillna(method='ffill',limit=3)

<ipython-input-47-30278198>:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  neew_df=df.fillna(method='ffill',limit=3)

In [48]:
type[neew_df]

type[            Temperature  DewPoint  Humidity  Sea Level PressureIn  \
EST
2016-01-01           38        23        52                 30.03
2016-01-02           36        18        46                 30.02
2016-01-03           40        21        47                 29.86
2016-01-04           25         9        44                 30.05
2016-01-05           20        -3        41                 30.57
2016-01-06           33         4        35                 30.50
2016-01-07           39        11        33                 30.28
2016-01-08           39        29        64                 30.20
2016-01-09           44        38        77                 30.16
2016-01-10           50        46        71                 29.59
2016-01-11           33         8        37                 29.92
2016-01-12           35        15        53                 29.85
2016-01-13           26         4        42                 29.94
2016-01-14           30        12        47                 29.95
2016-01-15           43        31        62                 29.82
2016-01-16           47        37        70                 29.52
2016-01-17           36        23        66                 29.78
2016-01-18           25         6        53                 29.83
2016-01-19           22         3        42                 30.03
2016-01-20           32        15        49                 30.13
2016-01-21           31        11        45                 30.15
2016-01-22           26         6        41                 30.21
2016-01-23           26        21        78                 29.77
2016-01-24           28        11        53                 29.92
2016-01-25           34        18        54                 30.25
2016-01-26           43        29        56                 30.03
2016-01-27           41        22        45                 30.03
2016-01-28           37        20        51                 29.90
2016-01-29           36        21        50                 29.58
2016-01-30           34        16        46                 30.01
2016-01-31           46        28        52                 29.90

            VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover  \
EST
2016-01-01               10           8.0               0           5
2016-01-02               10           7.0               0           3
2016-01-03               10           8.0               0           1
2016-01-04               10           9.0               0           3
2016-01-05               10           5.0               0           0
2016-01-06               10           4.0               0           0
2016-01-07               10           2.0               0           3
2016-01-08               10           4.0               0           8
2016-01-09                9           8.0               T           8
2016-01-10                4           8.0             1.8           7
2016-01-11               10           8.0               0           1
2016-01-12               10           6.0               T           4
2016-01-13               10          10.0               0           0
2016-01-14               10           5.0               T           7
2016-01-15                9           5.0               T           2
2016-01-16                8           7.0            0.24           7
2016-01-17                8           6.0            0.05           6
2016-01-18                9          12.0               T           2
2016-01-19               10          11.0               0           1
2016-01-20               10           6.0               0           2
2016-01-21               10           6.0               0           1
2016-01-22                9           6.0            0.01           3
2016-01-23                1          16.0            2.31           8
2016-01-24                8           6.0               T           3
2016-01-25               10           3.0               0           2
2016-01-26               10           7.0               0           2
2016-01-27               10           7.0               T           3
2016-01-28               10           5.0               0           1
2016-01-29               10           8.0               0           4
2016-01-30               10           7.0               0           0
2016-01-31               10           5.0               0           0

              Events  WindDirDegrees
EST
2016-01-01       NaN             281
2016-01-02       NaN             275
2016-01-03       NaN             277
2016-01-04       NaN             345
2016-01-05       NaN             333
2016-01-06       NaN             259
2016-01-07       NaN             293
2016-01-08       NaN              79
2016-01-09      Rain              76
2016-01-10      Rain             109
2016-01-11      Rain             289
2016-01-12      Rain             235
2016-01-13      Rain             284
2016-01-14       NaN             266
2016-01-15       NaN             101
2016-01-16      Rain             340
2016-01-17  Fog-Snow             345
2016-01-18      Snow             293
2016-01-19      Snow             293
2016-01-20      Snow             302
2016-01-21      Snow             312
2016-01-22      Snow              34
2016-01-23  Fog-Snow              42
2016-01-24      Snow             327
2016-01-25      Snow             286
2016-01-26      Snow             244
2016-01-27      Rain             311
2016-01-28      Rain             234
2016-01-29      Rain             298
2016-01-30      Rain             257
2016-01-31       NaN             241  ]

In [49]:
neew_df=df.fillna(method='bfill',limit=2)

<ipython-input-49-3730957743>:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  neew_df=df.fillna(method='bfill',limit=2)

In [51]:
type[neew_df]

type[            Temperature  DewPoint  Humidity  Sea Level PressureIn  \
EST
2016-01-01           38        23        52                 30.03
2016-01-02           36        18        46                 30.02
2016-01-03           40        21        47                 29.86
2016-01-04           25         9        44                 30.05
2016-01-05           20        -3        41                 30.57
2016-01-06           33         4        35                 30.50
2016-01-07           39        11        33                 30.28
2016-01-08           39        29        64                 30.20
2016-01-09           44        38        77                 30.16
2016-01-10           50        46        71                 29.59
2016-01-11           33         8        37                 29.92
2016-01-12           35        15        53                 29.85
2016-01-13           26         4        42                 29.94
2016-01-14           30        12        47                 29.95
2016-01-15           43        31        62                 29.82
2016-01-16           47        37        70                 29.52
2016-01-17           36        23        66                 29.78
2016-01-18           25         6        53                 29.83
2016-01-19           22         3        42                 30.03
2016-01-20           32        15        49                 30.13
2016-01-21           31        11        45                 30.15
2016-01-22           26         6        41                 30.21
2016-01-23           26        21        78                 29.77
2016-01-24           28        11        53                 29.92
2016-01-25           34        18        54                 30.25
2016-01-26           43        29        56                 30.03
2016-01-27           41        22        45                 30.03
2016-01-28           37        20        51                 29.90
2016-01-29           36        21        50                 29.58
2016-01-30           34        16        46                 30.01
2016-01-31           46        28        52                 29.90

            VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover  \
EST
2016-01-01               10           8.0               0           5
2016-01-02               10           7.0               0           3
2016-01-03               10           8.0               0           1
2016-01-04               10           9.0               0           3
2016-01-05               10           5.0               0           0
2016-01-06               10           4.0               0           0
2016-01-07               10           2.0               0           3
2016-01-08               10           4.0               0           8
2016-01-09                9           8.0               T           8
2016-01-10                4           6.0             1.8           7
2016-01-11               10           6.0               0           1
2016-01-12               10           6.0               T           4
2016-01-13               10          10.0               0           0
2016-01-14               10           5.0               T           7
2016-01-15                9           5.0               T           2
2016-01-16                8           7.0            0.24           7
2016-01-17                8           6.0            0.05           6
2016-01-18                9          12.0               T           2
2016-01-19               10          11.0               0           1
2016-01-20               10           6.0               0           2
2016-01-21               10           6.0               0           1
2016-01-22                9          16.0            0.01           3
2016-01-23                1          16.0            2.31           8
2016-01-24                8           6.0               T           3
2016-01-25               10           3.0               0           2
2016-01-26               10           7.0               0           2
2016-01-27               10           7.0               T           3
2016-01-28               10           5.0               0           1
2016-01-29               10           8.0               0           4
2016-01-30               10           7.0               0           0
2016-01-31               10           5.0               0           0

              Events  WindDirDegrees
EST
2016-01-01       NaN             281
2016-01-02       NaN             275
2016-01-03       NaN             277
2016-01-04       NaN             345
2016-01-05       NaN             333
2016-01-06       NaN             259
2016-01-07      Rain             293
2016-01-08      Rain              79
2016-01-09      Rain              76
2016-01-10      Rain             109
2016-01-11       NaN             289
2016-01-12       NaN             235
2016-01-13       NaN             284
2016-01-14      Rain             266
2016-01-15      Rain             101
2016-01-16      Rain             340
2016-01-17  Fog-Snow             345
2016-01-18      Snow             293
2016-01-19       NaN             293
2016-01-20      Snow             302
2016-01-21      Snow             312
2016-01-22      Snow              34
2016-01-23  Fog-Snow              42
2016-01-24      Snow             327
2016-01-25      Rain             286
2016-01-26      Rain             244
2016-01-27      Rain             311
2016-01-28       NaN             234
2016-01-29       NaN             298
2016-01-30       NaN             257
2016-01-31       NaN             241  ]

In [52]:
new_df=df.interpolate()

<ipython-input-52-739601194>:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  new_df=df.interpolate()

In [53]:
type[new_df]

type[            Temperature  DewPoint  Humidity  Sea Level PressureIn  \
EST
2016-01-01           38        23        52                 30.03
2016-01-02           36        18        46                 30.02
2016-01-03           40        21        47                 29.86
2016-01-04           25         9        44                 30.05
2016-01-05           20        -3        41                 30.57
2016-01-06           33         4        35                 30.50
2016-01-07           39        11        33                 30.28
2016-01-08           39        29        64                 30.20
2016-01-09           44        38        77                 30.16
2016-01-10           50        46        71                 29.59
2016-01-11           33         8        37                 29.92
2016-01-12           35        15        53                 29.85
2016-01-13           26         4        42                 29.94
2016-01-14           30        12        47                 29.95
2016-01-15           43        31        62                 29.82
2016-01-16           47        37        70                 29.52
2016-01-17           36        23        66                 29.78
2016-01-18           25         6        53                 29.83
2016-01-19           22         3        42                 30.03
2016-01-20           32        15        49                 30.13
2016-01-21           31        11        45                 30.15
2016-01-22           26         6        41                 30.21
2016-01-23           26        21        78                 29.77
2016-01-24           28        11        53                 29.92
2016-01-25           34        18        54                 30.25
2016-01-26           43        29        56                 30.03
2016-01-27           41        22        45                 30.03
2016-01-28           37        20        51                 29.90
2016-01-29           36        21        50                 29.58
2016-01-30           34        16        46                 30.01
2016-01-31           46        28        52                 29.90

            VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover  \
EST
2016-01-01               10      8.000000               0           5
2016-01-02               10      7.000000               0           3
2016-01-03               10      8.000000               0           1
2016-01-04               10      9.000000               0           3
2016-01-05               10      5.000000               0           0
2016-01-06               10      4.000000               0           0
2016-01-07               10      2.000000               0           3
2016-01-08               10      4.000000               0           8
2016-01-09                9      8.000000               T           8
2016-01-10                4      7.333333             1.8           7
2016-01-11               10      6.666667               0           1
2016-01-12               10      6.000000               T           4
2016-01-13               10     10.000000               0           0
2016-01-14               10      5.000000               T           7
2016-01-15                9      5.000000               T           2
2016-01-16                8      7.000000            0.24           7
2016-01-17                8      6.000000            0.05           6
2016-01-18                9     12.000000               T           2
2016-01-19               10     11.000000               0           1
2016-01-20               10      6.000000               0           2
2016-01-21               10      6.000000               0           1
2016-01-22                9     11.000000            0.01           3
2016-01-23                1     16.000000            2.31           8
2016-01-24                8      6.000000               T           3
2016-01-25               10      3.000000               0           2
2016-01-26               10      7.000000               0           2
2016-01-27               10      7.000000               T           3
2016-01-28               10      5.000000               0           1
2016-01-29               10      8.000000               0           4
2016-01-30               10      7.000000               0           0
2016-01-31               10      5.000000               0           0

              Events  WindDirDegrees
EST
2016-01-01       NaN             281
2016-01-02       NaN             275
2016-01-03       NaN             277
2016-01-04       NaN             345
2016-01-05       NaN             333
2016-01-06       NaN             259
2016-01-07       NaN             293
2016-01-08       NaN              79
2016-01-09      Rain              76
2016-01-10      Rain             109
2016-01-11       NaN             289
2016-01-12       NaN             235
2016-01-13       NaN             284
2016-01-14       NaN             266
2016-01-15       NaN             101
2016-01-16      Rain             340
2016-01-17  Fog-Snow             345
2016-01-18      Snow             293
2016-01-19       NaN             293
2016-01-20       NaN             302
2016-01-21       NaN             312
2016-01-22      Snow              34
2016-01-23  Fog-Snow              42
2016-01-24      Snow             327
2016-01-25       NaN             286
2016-01-26       NaN             244
2016-01-27      Rain             311
2016-01-28       NaN             234
2016-01-29       NaN             298
2016-01-30       NaN             257
2016-01-31       NaN             241  ]

In [54]:
type[df]

type[            Temperature  DewPoint  Humidity  Sea Level PressureIn  \
EST
2016-01-01           38        23        52                 30.03
2016-01-02           36        18        46                 30.02
2016-01-03           40        21        47                 29.86
2016-01-04           25         9        44                 30.05
2016-01-05           20        -3        41                 30.57
2016-01-06           33         4        35                 30.50
2016-01-07           39        11        33                 30.28
2016-01-08           39        29        64                 30.20
2016-01-09           44        38        77                 30.16
2016-01-10           50        46        71                 29.59
2016-01-11           33         8        37                 29.92
2016-01-12           35        15        53                 29.85
2016-01-13           26         4        42                 29.94
2016-01-14           30        12        47                 29.95
2016-01-15           43        31        62                 29.82
2016-01-16           47        37        70                 29.52
2016-01-17           36        23        66                 29.78
2016-01-18           25         6        53                 29.83
2016-01-19           22         3        42                 30.03
2016-01-20           32        15        49                 30.13
2016-01-21           31        11        45                 30.15
2016-01-22           26         6        41                 30.21
2016-01-23           26        21        78                 29.77
2016-01-24           28        11        53                 29.92
2016-01-25           34        18        54                 30.25
2016-01-26           43        29        56                 30.03
2016-01-27           41        22        45                 30.03
2016-01-28           37        20        51                 29.90
2016-01-29           36        21        50                 29.58
2016-01-30           34        16        46                 30.01
2016-01-31           46        28        52                 29.90

            VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover  \
EST
2016-01-01               10           8.0               0           5
2016-01-02               10           7.0               0           3
2016-01-03               10           8.0               0           1
2016-01-04               10           9.0               0           3
2016-01-05               10           5.0               0           0
2016-01-06               10           4.0               0           0
2016-01-07               10           2.0               0           3
2016-01-08               10           4.0               0           8
2016-01-09                9           8.0               T           8
2016-01-10                4           NaN             1.8           7
2016-01-11               10           NaN               0           1
2016-01-12               10           6.0               T           4
2016-01-13               10          10.0               0           0
2016-01-14               10           5.0               T           7
2016-01-15                9           5.0               T           2
2016-01-16                8           7.0            0.24           7
2016-01-17                8           6.0            0.05           6
2016-01-18                9          12.0               T           2
2016-01-19               10          11.0               0           1
2016-01-20               10           6.0               0           2
2016-01-21               10           6.0               0           1
2016-01-22                9           NaN            0.01           3
2016-01-23                1          16.0            2.31           8
2016-01-24                8           6.0               T           3
2016-01-25               10           3.0               0           2
2016-01-26               10           7.0               0           2
2016-01-27               10           7.0               T           3
2016-01-28               10           5.0               0           1
2016-01-29               10           8.0               0           4
2016-01-30               10           7.0               0           0
2016-01-31               10           5.0               0           0

              Events  WindDirDegrees
EST
2016-01-01       NaN             281
2016-01-02       NaN             275
2016-01-03       NaN             277
2016-01-04       NaN             345
2016-01-05       NaN             333
2016-01-06       NaN             259
2016-01-07       NaN             293
2016-01-08       NaN              79
2016-01-09      Rain              76
2016-01-10      Rain             109
2016-01-11       NaN             289
2016-01-12       NaN             235
2016-01-13       NaN             284
2016-01-14       NaN             266
2016-01-15       NaN             101
2016-01-16      Rain             340
2016-01-17  Fog-Snow             345
2016-01-18      Snow             293
2016-01-19       NaN             293
2016-01-20       NaN             302
2016-01-21       NaN             312
2016-01-22      Snow              34
2016-01-23  Fog-Snow              42
2016-01-24      Snow             327
2016-01-25       NaN             286
2016-01-26       NaN             244
2016-01-27      Rain             311
2016-01-28       NaN             234
2016-01-29       NaN             298
2016-01-30       NaN             257
2016-01-31       NaN             241  ]

In [55]:
new_df=df.interpolate(method='time')

<ipython-input-55-1774045556>:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  new_df=df.interpolate(method='time')

In [56]:
new_df

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
2016-01-01,38,23,52,30.03,10,8.000000,0,5,NaN,281
2016-01-02,36,18,46,30.02,10,7.000000,0,3,NaN,275
2016-01-03,40,21,47,29.86,10,8.000000,0,1,NaN,277
2016-01-04,25,9,44,30.05,10,9.000000,0,3,NaN,345
2016-01-05,20,-3,41,30.57,10,5.000000,0,0,NaN,333
2016-01-06,33,4,35,30.50,10,4.000000,0,0,NaN,259
2016-01-07,39,11,33,30.28,10,2.000000,0,3,NaN,293
2016-01-08,39,29,64,30.20,10,4.000000,0,8,NaN,79
2016-01-09,44,38,77,30.16,9,8.000000,T,8,Rain,76
2016-01-10,50,46,71,29.59,4,7.333333,1.8,7,Rain,109
2016-01-11,33,8,37,29.92,10,6.666667,0,1,NaN,289
2016-01-12,35,15,53,29.85,10,6.000000,T,4,NaN,235
2016-01-13,26,4,42,29.94,10,10.000000,0,0,NaN,284
2016-01-14,30,12,47,29.95,10,5.000000,T,7,NaN,266
2016-01-15,43,31,62,29.82,9,5.000000,T,2,NaN,101
2016-01-16,47,37,70,29.52,8,7.000000,0.24,7,Rain,340
2016-01-17,36,23,66,29.78,8,6.000000,0.05,6,Fog-Snow,345
2016-01-18,25,6,53,29.83,9,12.000000,T,2,Snow,293
2016-01-19,22,3,42,30.03,10,11.000000,0,1,NaN,293
2016-01-20,32,15,49,30.13,10,6.000000,0,2,NaN,302
2016-01-21,31,11,45,30.15,10,6.000000,0,1,NaN,312
2016-01-22,26,6,41,30.21,9,11.000000,0.01,3,Snow,34
2016-01-23,26,21,78,29.77,1,16.000000,2.31,8,Fog-Snow,42
2016-01-24,28,11,53,29.92,8,6.000000,T,3,Snow,327
2016-01-25,34,18,54,30.25,10,3.000000,0,2,NaN,286
2016-01-26,43,29,56,30.03,10,7.000000,0,2,NaN,244
2016-01-27,41,22,45,30.03,10,7.000000,T,3,Rain,311
2016-01-28,37,20,51,29.90,10,5.000000,0,1,NaN,234
2016-01-29,36,21,50,29.58,10,8.000000,0,4,NaN,298
2016-01-30,34,16,46,30.01,10,7.000000,0,0,NaN,257
2016-01-31,46,28,52,29.90,10,5.000000,0,0,NaN,241

In [57]:
type[new_df]

type[            Temperature  DewPoint  Humidity  Sea Level PressureIn  \
EST
2016-01-01           38        23        52                 30.03
2016-01-02           36        18        46                 30.02
2016-01-03           40        21        47                 29.86
2016-01-04           25         9        44                 30.05
2016-01-05           20        -3        41                 30.57
2016-01-06           33         4        35                 30.50
2016-01-07           39        11        33                 30.28
2016-01-08           39        29        64                 30.20
2016-01-09           44        38        77                 30.16
2016-01-10           50        46        71                 29.59
2016-01-11           33         8        37                 29.92
2016-01-12           35        15        53                 29.85
2016-01-13           26         4        42                 29.94
2016-01-14           30        12        47                 29.95
2016-01-15           43        31        62                 29.82
2016-01-16           47        37        70                 29.52
2016-01-17           36        23        66                 29.78
2016-01-18           25         6        53                 29.83
2016-01-19           22         3        42                 30.03
2016-01-20           32        15        49                 30.13
2016-01-21           31        11        45                 30.15
2016-01-22           26         6        41                 30.21
2016-01-23           26        21        78                 29.77
2016-01-24           28        11        53                 29.92
2016-01-25           34        18        54                 30.25
2016-01-26           43        29        56                 30.03
2016-01-27           41        22        45                 30.03
2016-01-28           37        20        51                 29.90
2016-01-29           36        21        50                 29.58
2016-01-30           34        16        46                 30.01
2016-01-31           46        28        52                 29.90

            VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover  \
EST
2016-01-01               10      8.000000               0           5
2016-01-02               10      7.000000               0           3
2016-01-03               10      8.000000               0           1
2016-01-04               10      9.000000               0           3
2016-01-05               10      5.000000               0           0
2016-01-06               10      4.000000               0           0
2016-01-07               10      2.000000               0           3
2016-01-08               10      4.000000               0           8
2016-01-09                9      8.000000               T           8
2016-01-10                4      7.333333             1.8           7
2016-01-11               10      6.666667               0           1
2016-01-12               10      6.000000               T           4
2016-01-13               10     10.000000               0           0
2016-01-14               10      5.000000               T           7
2016-01-15                9      5.000000               T           2
2016-01-16                8      7.000000            0.24           7
2016-01-17                8      6.000000            0.05           6
2016-01-18                9     12.000000               T           2
2016-01-19               10     11.000000               0           1
2016-01-20               10      6.000000               0           2
2016-01-21               10      6.000000               0           1
2016-01-22                9     11.000000            0.01           3
2016-01-23                1     16.000000            2.31           8
2016-01-24                8      6.000000               T           3
2016-01-25               10      3.000000               0           2
2016-01-26               10      7.000000               0           2
2016-01-27               10      7.000000               T           3
2016-01-28               10      5.000000               0           1
2016-01-29               10      8.000000               0           4
2016-01-30               10      7.000000               0           0
2016-01-31               10      5.000000               0           0

              Events  WindDirDegrees
EST
2016-01-01       NaN             281
2016-01-02       NaN             275
2016-01-03       NaN             277
2016-01-04       NaN             345
2016-01-05       NaN             333
2016-01-06       NaN             259
2016-01-07       NaN             293
2016-01-08       NaN              79
2016-01-09      Rain              76
2016-01-10      Rain             109
2016-01-11       NaN             289
2016-01-12       NaN             235
2016-01-13       NaN             284
2016-01-14       NaN             266
2016-01-15       NaN             101
2016-01-16      Rain             340
2016-01-17  Fog-Snow             345
2016-01-18      Snow             293
2016-01-19       NaN             293
2016-01-20       NaN             302
2016-01-21       NaN             312
2016-01-22      Snow              34
2016-01-23  Fog-Snow              42
2016-01-24      Snow             327
2016-01-25       NaN             286
2016-01-26       NaN             244
2016-01-27      Rain             311
2016-01-28       NaN             234
2016-01-29       NaN             298
2016-01-30       NaN             257
2016-01-31       NaN             241  ]

In [58]:
new_df=df.dropna()

In [59]:
type[new_df]

type[            Temperature  DewPoint  Humidity  Sea Level PressureIn  \
EST
2016-01-09           44        38        77                 30.16
2016-01-16           47        37        70                 29.52
2016-01-17           36        23        66                 29.78
2016-01-18           25         6        53                 29.83
2016-01-23           26        21        78                 29.77
2016-01-24           28        11        53                 29.92
2016-01-27           41        22        45                 30.03

            VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover  \
EST
2016-01-09                9           8.0               T           8
2016-01-16                8           7.0            0.24           7
2016-01-17                8           6.0            0.05           6
2016-01-18                9          12.0               T           2
2016-01-23                1          16.0            2.31           8
2016-01-24                8           6.0               T           3
2016-01-27               10           7.0               T           3

              Events  WindDirDegrees
EST
2016-01-09      Rain              76
2016-01-16      Rain             340
2016-01-17  Fog-Snow             345
2016-01-18      Snow             293
2016-01-23  Fog-Snow              42
2016-01-24      Snow             327
2016-01-27      Rain             311  ]

In [61]:
new_df=df.dropna(how='all')

In [62]:
type[new_df]

type[            Temperature  DewPoint  Humidity  Sea Level PressureIn  \
EST
2016-01-01           38        23        52                 30.03
2016-01-02           36        18        46                 30.02
2016-01-03           40        21        47                 29.86
2016-01-04           25         9        44                 30.05
2016-01-05           20        -3        41                 30.57
2016-01-06           33         4        35                 30.50
2016-01-07           39        11        33                 30.28
2016-01-08           39        29        64                 30.20
2016-01-09           44        38        77                 30.16
2016-01-10           50        46        71                 29.59
2016-01-11           33         8        37                 29.92
2016-01-12           35        15        53                 29.85
2016-01-13           26         4        42                 29.94
2016-01-14           30        12        47                 29.95
2016-01-15           43        31        62                 29.82
2016-01-16           47        37        70                 29.52
2016-01-17           36        23        66                 29.78
2016-01-18           25         6        53                 29.83
2016-01-19           22         3        42                 30.03
2016-01-20           32        15        49                 30.13
2016-01-21           31        11        45                 30.15
2016-01-22           26         6        41                 30.21
2016-01-23           26        21        78                 29.77
2016-01-24           28        11        53                 29.92
2016-01-25           34        18        54                 30.25
2016-01-26           43        29        56                 30.03
2016-01-27           41        22        45                 30.03
2016-01-28           37        20        51                 29.90
2016-01-29           36        21        50                 29.58
2016-01-30           34        16        46                 30.01
2016-01-31           46        28        52                 29.90

            VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover  \
EST
2016-01-01               10           8.0               0           5
2016-01-02               10           7.0               0           3
2016-01-03               10           8.0               0           1
2016-01-04               10           9.0               0           3
2016-01-05               10           5.0               0           0
2016-01-06               10           4.0               0           0
2016-01-07               10           2.0               0           3
2016-01-08               10           4.0               0           8
2016-01-09                9           8.0               T           8
2016-01-10                4           NaN             1.8           7
2016-01-11               10           NaN               0           1
2016-01-12               10           6.0               T           4
2016-01-13               10          10.0               0           0
2016-01-14               10           5.0               T           7
2016-01-15                9           5.0               T           2
2016-01-16                8           7.0            0.24           7
2016-01-17                8           6.0            0.05           6
2016-01-18                9          12.0               T           2
2016-01-19               10          11.0               0           1
2016-01-20               10           6.0               0           2
2016-01-21               10           6.0               0           1
2016-01-22                9           NaN            0.01           3
2016-01-23                1          16.0            2.31           8
2016-01-24                8           6.0               T           3
2016-01-25               10           3.0               0           2
2016-01-26               10           7.0               0           2
2016-01-27               10           7.0               T           3
2016-01-28               10           5.0               0           1
2016-01-29               10           8.0               0           4
2016-01-30               10           7.0               0           0
2016-01-31               10           5.0               0           0

              Events  WindDirDegrees
EST
2016-01-01       NaN             281
2016-01-02       NaN             275
2016-01-03       NaN             277
2016-01-04       NaN             345
2016-01-05       NaN             333
2016-01-06       NaN             259
2016-01-07       NaN             293
2016-01-08       NaN              79
2016-01-09      Rain              76
2016-01-10      Rain             109
2016-01-11       NaN             289
2016-01-12       NaN             235
2016-01-13       NaN             284
2016-01-14       NaN             266
2016-01-15       NaN             101
2016-01-16      Rain             340
2016-01-17  Fog-Snow             345
2016-01-18      Snow             293
2016-01-19       NaN             293
2016-01-20       NaN             302
2016-01-21       NaN             312
2016-01-22      Snow              34
2016-01-23  Fog-Snow              42
2016-01-24      Snow             327
2016-01-25       NaN             286
2016-01-26       NaN             244
2016-01-27      Rain             311
2016-01-28       NaN             234
2016-01-29       NaN             298
2016-01-30       NaN             257
2016-01-31       NaN             241  ]

In [74]:
dt=pd.date_range("2016-01-01","2016-01-23")
idx=pd.DatetimeIndex(dt)
df=df.reindex(idx)
df

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
2016-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
type[new_df]

type[            Temperature  DewPoint  Humidity  Sea Level PressureIn  \
EST
2016-01-01           38        23        52                 30.03
2016-01-02           36        18        46                 30.02
2016-01-03           40        21        47                 29.86
2016-01-04           25         9        44                 30.05
2016-01-05           20        -3        41                 30.57
2016-01-06           33         4        35                 30.50
2016-01-07           39        11        33                 30.28
2016-01-08           39        29        64                 30.20
2016-01-09           44        38        77                 30.16
2016-01-10           50        46        71                 29.59
2016-01-11           33         8        37                 29.92
2016-01-12           35        15        53                 29.85
2016-01-13           26         4        42                 29.94
2016-01-14           30        12        47                 29.95
2016-01-15           43        31        62                 29.82
2016-01-16           47        37        70                 29.52
2016-01-17           36        23        66                 29.78
2016-01-18           25         6        53                 29.83
2016-01-19           22         3        42                 30.03
2016-01-20           32        15        49                 30.13
2016-01-21           31        11        45                 30.15
2016-01-22           26         6        41                 30.21
2016-01-23           26        21        78                 29.77
2016-01-24           28        11        53                 29.92
2016-01-25           34        18        54                 30.25
2016-01-26           43        29        56                 30.03
2016-01-27           41        22        45                 30.03
2016-01-28           37        20        51                 29.90
2016-01-29           36        21        50                 29.58
2016-01-30           34        16        46                 30.01
2016-01-31           46        28        52                 29.90

            VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover  \
EST
2016-01-01               10           8.0               0           5
2016-01-02               10           7.0               0           3
2016-01-03               10           8.0               0           1
2016-01-04               10           9.0               0           3
2016-01-05               10           5.0               0           0
2016-01-06               10           4.0               0           0
2016-01-07               10           2.0               0           3
2016-01-08               10           4.0               0           8
2016-01-09                9           8.0               T           8
2016-01-10                4           NaN             1.8           7
2016-01-11               10           NaN               0           1
2016-01-12               10           6.0               T           4
2016-01-13               10          10.0               0           0
2016-01-14               10           5.0               T           7
2016-01-15                9           5.0               T           2
2016-01-16                8           7.0            0.24           7
2016-01-17                8           6.0            0.05           6
2016-01-18                9          12.0               T           2
2016-01-19               10          11.0               0           1
2016-01-20               10           6.0               0           2
2016-01-21               10           6.0               0           1
2016-01-22                9           NaN            0.01           3
2016-01-23                1          16.0            2.31           8
2016-01-24                8           6.0               T           3
2016-01-25               10           3.0               0           2
2016-01-26               10           7.0               0           2
2016-01-27               10           7.0               T           3
2016-01-28               10           5.0               0           1
2016-01-29               10           8.0               0           4
2016-01-30               10           7.0               0           0
2016-01-31               10           5.0               0           0

              Events  WindDirDegrees
EST
2016-01-01       NaN             281
2016-01-02       NaN             275
2016-01-03       NaN             277
2016-01-04       NaN             345
2016-01-05       NaN             333
2016-01-06       NaN             259
2016-01-07       NaN             293
2016-01-08       NaN              79
2016-01-09      Rain              76
2016-01-10      Rain             109
2016-01-11       NaN             289
2016-01-12       NaN             235
2016-01-13       NaN             284
2016-01-14       NaN             266
2016-01-15       NaN             101
2016-01-16      Rain             340
2016-01-17  Fog-Snow             345
2016-01-18      Snow             293
2016-01-19       NaN             293
2016-01-20       NaN             302
2016-01-21       NaN             312
2016-01-22      Snow              34
2016-01-23  Fog-Snow              42
2016-01-24      Snow             327
2016-01-25       NaN             286
2016-01-26       NaN             244
2016-01-27      Rain             311
2016-01-28       NaN             234
2016-01-29       NaN             298
2016-01-30       NaN             257
2016-01-31       NaN             241  ]

3) replace function

In [78]:
import pandas as pd
import numpy as np

In [79]:
df=pd.read_csv("/content/nyc_weather.csv")

In [80]:
df.head()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [86]:
new_df=df.replace(np.nan,0)

In [87]:
new_df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,0,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,0,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,0,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,0,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,0,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,0,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,0,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,0,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,0.0,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,0.0,0,1,0,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,0,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,0,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,0,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,0,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,0,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,0,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,0,312
21,1/22/2016,26,6,41,30.21,9,0.0,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,0,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,0,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,0,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,0,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,0,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,0,241

In [89]:
 new_df=df.replace({
     0: np.nan
 })

In [90]:
new_df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5.0,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3.0,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1.0,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3.0,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,NaN,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,NaN,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3.0,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8.0,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8.0,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7.0,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1.0,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4.0,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,NaN,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7.0,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2.0,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7.0,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6.0,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2.0,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1.0,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2.0,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1.0,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3.0,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8.0,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3.0,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2.0,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2.0,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3.0,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1.0,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4.0,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,NaN,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,NaN,NaN,241

In [91]:
type[new_df]

type[          EST  Temperature  DewPoint  Humidity  Sea Level PressureIn  \
0    1/1/2016           38        23        52                 30.03
1    1/2/2016           36        18        46                 30.02
2    1/3/2016           40        21        47                 29.86
3    1/4/2016           25         9        44                 30.05
4    1/5/2016           20        -3        41                 30.57
5    1/6/2016           33         4        35                 30.50
6    1/7/2016           39        11        33                 30.28
7    1/8/2016           39        29        64                 30.20
8    1/9/2016           44        38        77                 30.16
9   1/10/2016           50        46        71                 29.59
10  1/11/2016           33         8        37                 29.92
11  1/12/2016           35        15        53                 29.85
12  1/13/2016           26         4        42                 29.94
13  1/14/2016           30        12        47                 29.95
14  1/15/2016           43        31        62                 29.82
15  1/16/2016           47        37        70                 29.52
16  1/17/2016           36        23        66                 29.78
17  1/18/2016           25         6        53                 29.83
18  1/19/2016           22         3        42                 30.03
19  1/20/2016           32        15        49                 30.13
20  1/21/2016           31        11        45                 30.15
21  1/22/2016           26         6        41                 30.21
22  1/23/2016           26        21        78                 29.77
23  1/24/2016           28        11        53                 29.92
24  1/25/2016           34        18        54                 30.25
25  1/26/2016           43        29        56                 30.03
26  1/27/2016           41        22        45                 30.03
27  1/28/2016           37        20        51                 29.90
28  1/29/2016           36        21        50                 29.58
29  1/30/2016           34        16        46                 30.01
30  1/31/2016           46        28        52                 29.90

    VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover    Events  \
0                10           8.0               0         5.0       NaN
1                10           7.0               0         3.0       NaN
2                10           8.0               0         1.0       NaN
3                10           9.0               0         3.0       NaN
4                10           5.0               0         NaN       NaN
5                10           4.0               0         NaN       NaN
6                10           2.0               0         3.0       NaN
7                10           4.0               0         8.0       NaN
8                 9           8.0               T         8.0      Rain
9                 4           NaN             1.8         7.0      Rain
10               10           NaN               0         1.0       NaN
11               10           6.0               T         4.0       NaN
12               10          10.0               0         NaN       NaN
13               10           5.0               T         7.0       NaN
14                9           5.0               T         2.0       NaN
15                8           7.0            0.24         7.0      Rain
16                8           6.0            0.05         6.0  Fog-Snow
17                9          12.0               T         2.0      Snow
18               10          11.0               0         1.0       NaN
19               10           6.0               0         2.0       NaN
20               10           6.0               0         1.0       NaN
21                9           NaN            0.01         3.0      Snow
22                1          16.0            2.31         8.0  Fog-Snow
23                8           6.0               T         3.0      Snow
24               10           3.0               0         2.0       NaN
25               10           7.0               0         2.0       NaN
26               10           7.0               T         3.0      Rain
27               10           5.0               0         1.0       NaN
28               10           8.0               0         4.0       NaN
29               10           7.0               0         NaN       NaN
30               10           5.0               0         NaN       NaN

    WindDirDegrees
0              281
1              275
2              277
3              345
4              333
5              259
6              293
7               79
8               76
9              109
10             289
11             235
12             284
13             266
14             101
15             340
16             345
17             293
18             293
19             302
20             312
21              34
22              42
23             327
24             286
25             244
26             311
27             234
28             298
29             257
30             241  ]

In [94]:
new_df=df.replace({
    'Event': np.nan,
    'Temperature' : np.nan
},0)

In [95]:
type[new_df]

type[          EST  Temperature  DewPoint  Humidity  Sea Level PressureIn  \
0    1/1/2016           38        23        52                 30.03
1    1/2/2016           36        18        46                 30.02
2    1/3/2016           40        21        47                 29.86
3    1/4/2016           25         9        44                 30.05
4    1/5/2016           20        -3        41                 30.57
5    1/6/2016           33         4        35                 30.50
6    1/7/2016           39        11        33                 30.28
7    1/8/2016           39        29        64                 30.20
8    1/9/2016           44        38        77                 30.16
9   1/10/2016           50        46        71                 29.59
10  1/11/2016           33         8        37                 29.92
11  1/12/2016           35        15        53                 29.85
12  1/13/2016           26         4        42                 29.94
13  1/14/2016           30        12        47                 29.95
14  1/15/2016           43        31        62                 29.82
15  1/16/2016           47        37        70                 29.52
16  1/17/2016           36        23        66                 29.78
17  1/18/2016           25         6        53                 29.83
18  1/19/2016           22         3        42                 30.03
19  1/20/2016           32        15        49                 30.13
20  1/21/2016           31        11        45                 30.15
21  1/22/2016           26         6        41                 30.21
22  1/23/2016           26        21        78                 29.77
23  1/24/2016           28        11        53                 29.92
24  1/25/2016           34        18        54                 30.25
25  1/26/2016           43        29        56                 30.03
26  1/27/2016           41        22        45                 30.03
27  1/28/2016           37        20        51                 29.90
28  1/29/2016           36        21        50                 29.58
29  1/30/2016           34        16        46                 30.01
30  1/31/2016           46        28        52                 29.90

    VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover    Events  \
0                10           8.0               0           5       NaN
1                10           7.0               0           3       NaN
2                10           8.0               0           1       NaN
3                10           9.0               0           3       NaN
4                10           5.0               0           0       NaN
5                10           4.0               0           0       NaN
6                10           2.0               0           3       NaN
7                10           4.0               0           8       NaN
8                 9           8.0               T           8      Rain
9                 4           NaN             1.8           7      Rain
10               10           NaN               0           1       NaN
11               10           6.0               T           4       NaN
12               10          10.0               0           0       NaN
13               10           5.0               T           7       NaN
14                9           5.0               T           2       NaN
15                8           7.0            0.24           7      Rain
16                8           6.0            0.05           6  Fog-Snow
17                9          12.0               T           2      Snow
18               10          11.0               0           1       NaN
19               10           6.0               0           2       NaN
20               10           6.0               0           1       NaN
21                9           NaN            0.01           3      Snow
22                1          16.0            2.31           8  Fog-Snow
23                8           6.0               T           3      Snow
24               10           3.0               0           2       NaN
25               10           7.0               0           2       NaN
26               10           7.0               T           3      Rain
27               10           5.0               0           1       NaN
28               10           8.0               0           4       NaN
29               10           7.0               0           0       NaN
30               10           5.0               0           0       NaN

    WindDirDegrees
0              281
1              275
2              277
3              345
4              333
5              259
6              293
7               79
8               76
9              109
10             289
11             235
12             284
13             266
14             101
15             340
16             345
17             293
18             293
19             302
20             312
21              34
22              42
23             327
24             286
25             244
26             311
27             234
28             298
29             257
30             241  ]

In [96]:
new_df=df.replace('[A-z a-z]','',regex=True)

In [97]:
type[new_df]

type[          EST  Temperature  DewPoint  Humidity  Sea Level PressureIn  \
0    1/1/2016           38        23        52                 30.03
1    1/2/2016           36        18        46                 30.02
2    1/3/2016           40        21        47                 29.86
3    1/4/2016           25         9        44                 30.05
4    1/5/2016           20        -3        41                 30.57
5    1/6/2016           33         4        35                 30.50
6    1/7/2016           39        11        33                 30.28
7    1/8/2016           39        29        64                 30.20
8    1/9/2016           44        38        77                 30.16
9   1/10/2016           50        46        71                 29.59
10  1/11/2016           33         8        37                 29.92
11  1/12/2016           35        15        53                 29.85
12  1/13/2016           26         4        42                 29.94
13  1/14/2016           30        12        47                 29.95
14  1/15/2016           43        31        62                 29.82
15  1/16/2016           47        37        70                 29.52
16  1/17/2016           36        23        66                 29.78
17  1/18/2016           25         6        53                 29.83
18  1/19/2016           22         3        42                 30.03
19  1/20/2016           32        15        49                 30.13
20  1/21/2016           31        11        45                 30.15
21  1/22/2016           26         6        41                 30.21
22  1/23/2016           26        21        78                 29.77
23  1/24/2016           28        11        53                 29.92
24  1/25/2016           34        18        54                 30.25
25  1/26/2016           43        29        56                 30.03
26  1/27/2016           41        22        45                 30.03
27  1/28/2016           37        20        51                 29.90
28  1/29/2016           36        21        50                 29.58
29  1/30/2016           34        16        46                 30.01
30  1/31/2016           46        28        52                 29.90

    VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover Events  \
0                10           8.0               0           5    NaN
1                10           7.0               0           3    NaN
2                10           8.0               0           1    NaN
3                10           9.0               0           3    NaN
4                10           5.0               0           0    NaN
5                10           4.0               0           0    NaN
6                10           2.0               0           3    NaN
7                10           4.0               0           8    NaN
8                 9           8.0                           8
9                 4           NaN             1.8           7
10               10           NaN               0           1    NaN
11               10           6.0                           4    NaN
12               10          10.0               0           0    NaN
13               10           5.0                           7    NaN
14                9           5.0                           2    NaN
15                8           7.0            0.24           7
16                8           6.0            0.05           6      -
17                9          12.0                           2
18               10          11.0               0           1    NaN
19               10           6.0               0           2    NaN
20               10           6.0               0           1    NaN
21                9           NaN            0.01           3
22                1          16.0            2.31           8      -
23                8           6.0                           3
24               10           3.0               0           2    NaN
25               10           7.0               0           2    NaN
26               10           7.0                           3
27               10           5.0               0           1    NaN
28               10           8.0               0           4    NaN
29               10           7.0               0           0    NaN
30               10           5.0               0           0    NaN

    WindDirDegrees
0              281
1              275
2              277
3              345
4              333
5              259
6              293
7               79
8               76
9              109
10             289
11             235
12             284
13             266
14             101
15             340
16             345
17             293
18             293
19             302
20             312
21              34
22              42
23             327
24             286
25             244
26             311
27             234
28             298
29             257
30             241  ]